.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 58px 70px 80px;
}

.movies__container_type_saved-page {
  padding-bottom: 140px;
}

.movies__btn-container {
  width: 100%;
  padding: 50px 0 0;
}

.movies__more-button {
  width: 100%;
  padding: 11px 10px 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background-color: #F9F9F9;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.movies__more-button:hover {
  background-color: rgba(152, 145, 145, 0.576);
}

@media screen and (max-width: 768px) {
  .movies__container {
    padding: 74px 30px 80px;
  }
}

@media screen and (max-width: 425px) {
  .movies__container {
    padding: 74px 10px 80px;
  }
}