.auth__page {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 30px 90px;
  box-sizing: border-box;
  min-height: 100vh;
}

.auth__container {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage__link {
  padding-bottom: 37px;
}

.homepage__link-logo {
  transition: transform 0.2s ease-in-out;
}

.homepage__link-logo:hover {
  transform: scale(1.1);
}

.auth__title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.auth__signin {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.auth__signin-text {
  margin: 0;
  color: #A0A0A0;
}

.auth__link {
  text-decoration: none;
  color: #FF6838;
  transition: opacity 0.2s ease-in-out;
}

.auth__link:hover {
  opacity: 0.6;
}

.register__fieldset {
  padding: 0 0 55px;
  margin: 0;
  border: none;
}

.form__input_type_auth:focus-within {
  outline: 1px solid #2BE080;
}

.form__submit-btn {
  padding: 15px;
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: #FF6838;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.form__submit-btn:hover {
  opacity: 0.6;
}

.form__submit-btn_disabled:hover {
  opacity: 1;
}

.form__submit-btn_disabled {
  background-color: #b0aaaaac;
  color: #000;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .auth__page {
    padding-top: 90px;
  }
}

@media screen and (max-width: 450px) {
  .auth__page {
    padding-top: 56px;
  }

  .auth__signin {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }

  .homepage__link {
    margin: 0 auto;
    padding-bottom: 47px;
  }

  .auth__title {
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .register__fieldset {
    padding-bottom: 144px;
  }

  .form__submit-btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
}